.header {
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  background: url("../images/background_header.svg") right top no-repeat;
  z-index: 0;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: -1px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  z-index: 1;
}

.header__content {
  position: relative;
}

.header__span-accent {
  color: #3f96f3;
  font-style: italic;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}

.header__description {
  max-width: 603px;
  margin: 28px 0 0;
  font-family: "Noto Serif";
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
